ion-header ion-toolbar ion-title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 120px;
    background-color:coral;
  }

  ion-back-button {
    color: coral;
  }

  a:link {
    text-decoration: none;
    color: coral;
  }
  
  a:visited {
    text-decoration: none;
    color: coral;
  }
  
  a:hover {
    text-decoration: none;
    color: coral;
  }
  
  a:active {
    text-decoration: none;
    color: coral;
  }

  .menoo-external-link {
    color: coral;
  }