<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-img src="assets/images/logo-w.svg"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [animated]="true" [showCancelButton]="false" placeholder="Item filter..." 
                 (ionInput)="filterList($event)" search-icon="search"></ion-searchbar>

  <ion-list lines="none">
    <app-product *ngFor="let product of products" [product]="product"></app-product>
  </ion-list>

  <ion-infinite-scroll threshold="200px" (ionInfinite)="moreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>